ul{
    list-style: none;
}

li{
    background-color: aliceblue;
}

li:hover{
    background-color: yellow;
    font-size: 30px;
    cursor: pointer;
}

li:active{
    background-color: lightgreen;
    font-style: italic;
}
li::before{
    content: "🥷🏿";
    font-size: 40px;
    margin-right: 10px;
}

li:hover::after{
    content: "pick me pick me";
    background-color: pink;
    margin-left: 5px;
}

li:active::before{
    content: "✅";
}
li:active::after{
    content: "yayyy😩";
    background-color: lightgreen;
}